<div ng-controller="noderunnerAppController">
	<div class="row">
		<div class="small-12 columns">
			<h2>webtask.io example</h2>
		</div>
	</div>

	<div class="row">
		<div class="small-12 medium-6 columns">
			<h4>write your node.js code below</h4>
			<div id="code" class="codeEditor">{{code}}</div>
		</div>
		<div class="small-12 medium-6 columns">
			<h4>see the result here</h4>
			<pre class="result">{{result}}</pre>
		</div>
	</div>
	<div class="row top-10">
		<div class="small-12 columns text-center">
			<button ng-click="run()" class="button" ng-disabled="loading">run code</button>
		</div>
	</div>

	<div class="row top-10">
		<div class="small-12 columns">
			<h4>Instructions</h4>
			<p>Just write your snippet and return the result.</p>
			<p>For list of available modules go to: <a href="https://tehsis.github.io/webtaskio-canirequire/" target="_blank">https://tehsis.github.io/webtaskio-canirequire/</a></p>
			<p>GitHub: <a href="https://github.com/amarczuk/noderunner" target="_blank">https://github.com/amarczuk/noderunner</a></p>
		</div>
	</div>

	<div class="row">
		<div class="small-12 medium-6 columns">
			<h4>webtask's code</h4>
			<div id="webtask_code" class="codeEditor">{? $webtaskCode ?}</div>
		</div>
		<div class="small-12 medium-6 columns">
			<h4>controller's code</h4>
			<div id="controller_code" class="codeEditor">{? $controllerCode ?}</div>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<p>&copy; Adam Marczuk</p>
			<p><a href="http://www.marczuk.info" target="_blank">http://www.marczuk.info</a></p>
		</div>
	</div>

	<message/>

</div>

